.more-info-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1055px;
    width: 100%;
    background-color: #c4c4c4;
    opacity: 0.8;
    /* change this to -2 z-index when exit is pressed */
    z-index: 0; 

}

.more-info-container{
    position: absolute;
    width: 1086px;
    height: 868px;
    background-color: rgb(27, 27, 27);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    /* background: url(image.png); */
    
}

.more-info-video{
    height: 569px;
    width: 1086px;
    
}
.more-info-video video{
    height: 569px;
    width: 1086px;
    border-radius: 25px 25px 0px 0px;
    object-fit: fill;
    
}

.more-info-content{
    width: 389px;
    display: flex;
    height: 26px;
    margin-top: 30px;
    margin-left: 60px;
}

.more-info-about{
    position: relative;
    height: 91px;
    width: 591px;
    left: 62px;
    top: 50px;
}

.more-info-prop{
    height: 150px;
    width: 303px;
    position: absolute;
    top: 605px;
    right: 43px;
}

p.about-text{
    font-size: 22px;
    color: white;
    line-height: 1.3em;
}

p.prop-text1{
  display: inline;  
  font-size: 18px;
  color: grey;  
}
p.prop-text2{
    display: inline;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.spacing-bottom{
    padding-bottom: 12px;
}

p.match-text{
    font-size: 21px;
    color: rgb(5, 154, 5);
}
p.content-text{
    font-size: 21px;
    color: white;
}

div.more-info-content > div{
    padding-right: 12px;
}

.more-info-video-exit{
    background: #524f4f;
    position: absolute;
    height: 44px;
    width: 44px;
    top: 16px;
    right: 30px;
    border-radius: 50%;
}
.more-info-video-exit i{
    font-size: 2.2em;
    color: white;
    position: relative;
    left: 11px;
    top: 3px;
}

.more-info-video-title img{
    height: 136px;
    width: 370px;
}

.more-info-video-title{
    position: absolute;
    top: 272px;
    left: 59px;
}

.more-info-video-play{
    position: absolute;
    top: 482px;
    left: 76px;
    height: 50px;
    width: 193px;
    background-color: white;
    border-radius: 5px;
}

.more-info-video-play i{
    position: relative;
    top: 9px;
    left: 35px;
    font-size: 2em;
}
.more-info-video-play a{
    position: relative;
    top: 6px;
    left: 45px;
    font-size: 2em;
    color: black;
}

.more-info-video-mylist{
    position: relative;
    top: -95px;
    left: 292px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border-style: solid;
    color: white;
}
.more-info-video-mylist i{
    position: relative;
    top: 7px;
    left: 8px;
    font-size: 2.3em;
    color: white;
}
.more-info-video-mute{
    position: absolute;
    top: 477px;
    right: 40px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border-style: solid;
    color: white;
}
.more-info-video-mute i{
    position: relative;
    top: 7px;
    left: 7px;
    font-size: 2em;
    color: white;
}

